* {
    margin: 0px;
    padding: 0px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 180px;
    padding-right: 180px;
}

.banner-pic {
    height: 500px;
    width: 335px;
    margin-top: 50px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.normal-p {
    color: black;
    font-family: Lato;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 32px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: white;
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 20px;
    border-style: none;
    cursor: pointer;
}

.featured-flowers {
    text-align: center;
    padding-top: 110px;
    text-align: center;


}

.featured-flowers-title {
    color: black;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flowers-container {
    display: flex;
    justify-content: space-around;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 60px;
    gap: 20px;

}

.flowers-container-img {
    margin-top: 80px;
    width: 210px;
    height: 300px;


}

.pink-rose {
    text-align: center;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.bouquet-one {
    text-align: center;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.yellow-rose {
    text-align: center;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.bouquet-one-center {
    margin-top: 80px;
    width: 210px;
    height: 250px;
}

#bouquet-p {
    margin-top: 65px;
}

.flowers-container-p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-top: 15px;
}

.customer-service {
    padding-top: 180px;
    padding-left: 180px;
    padding-right: 180px;
}

.customer-service-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.customer-service-img {
    width: 70px;
    height: 70px;
}

.c-s {
    padding: 50px 10px 20px 10px;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

    margin-top: 150px;
}

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}

.hot-deal-img {
    width: 300px;
    height: 350px;

}

.hot-deal-title {
    color: black;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

#off {
    color: #E55473;
}

.social-media {
    text-align: center;
    padding-top: 120px;
    padding-left: 180px;
    padding-right: 180px;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.social-media-img {
    width: 220px;
    height: 250px;
}

.deals {
    padding-top: 120px;
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
    padding-bottom: 120px; 
}

.deals-btn-container {
    display: flex;
    justify-content: space-around;
    padding-left: 260px;
    padding-right: 300px;
    gap: 20px;
}

.deals-container {
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-size: 100% 100%S;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 10px;
}

.deals-title {
    padding-top: 60px;
    padding-bottom: 10px;
}

.input {
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    background: #FFF;
    width: 500px;
    height: 40px;
    flex-shrink: 0;
    border-style: none;
}


.deals-btn {

    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    color: white;
    cursor: pointer;
}

footer {
    background: #111010;
    text-align: center;
}

.footer-title {
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 110px;
}

.footer-s {
    color: #E55473;
}

.footer-p {
    color: white;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        padding-top: 40px;
        padding-bottom: 100px;
}