* {
    margin: 0px;
    padding: 0px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 180px;
    padding-right: 180px;
}

.banner-pic {
    height: 500px;
    width: 335px;
    margin-top: 50px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.normal-p {
    color: black;
    font-family: Lato;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 32px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: white;
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
    cursor: pointer;
}

.featured-flowers {
    text-align: center;
    padding-top: 110px;
    text-align: center;


}

.featured-flowers-title {
    color: black;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flowers-container {
    display: flex;
    justify-content: space-around;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 60px;

}

.flowers-container-img {
    margin-top: 80px;
    width: 210px;
    height: 300px;


}

.pink-rose {
    text-align: center;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.bouquet-one {
    text-align: center;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.yellow-rose {
    text-align: center;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.bouquet-one-center {
    margin-top: 80px;
    width: 210px;
    height: 250px;
}

#bouquet-p {
    margin-top: 65px;
}

.flowers-container-p {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-top: 15px;
}

.customer-service {
    padding-top: 180px;
    padding-left: 180px;
    padding-right: 180px;
}

.customer-service-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.customer-service-img {
    width: 70px;
    height: 70px;
}
.c-s{
    padding: 50px 10px 20px 10px;
}